trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'camrail-api'
  dockerRegistryServiceConnection: 'acr-connection'
  containerRegistry: 'camrailacr.azurecr.io'
  tag: '$(Build.BuildId)'

stages:
- stage: Test
  displayName: 'Test & Lint'
  jobs:
  - job: Pytest
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.12'
    - script: |
        pip install -r requirements.txt
        pytest tests/ -v
      displayName: 'Exécution Tests Unitaires & Sécurité Ops'

- stage: Build
  displayName: 'Build & Push Docker Image'
  dependsOn: Test
  condition: succeeded()
  jobs:
  - job: BuildDocker
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: 'Dockerfile'
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: 'Deploy to Azure Kubernetes Service (AKS)'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: DeployK8s
    steps:
    - task: KubernetesManifest@1
      inputs:
        action: 'deploy'
        connectionType: 'azureResourceManager'
        azureSubscriptionConnection: 'Azure-DevOps-SP'
        azureResourceGroup: 'camrail-enterprise-rg'
        kubernetesCluster: 'camrail-aks-cluster'
        manifests: |
          k8s/api-deployment.yaml
          k8s/consumer-deployment.yaml
        containers: |
          $(containerRegistry)/$(imageName):$(tag)
